<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>Фиксированное меню</title>
  <style>
   .menu {
      position: fixed; /* Фиксированное положение */
      right: 0px; /* Расстояние от правого края окна браузера */
      bottom: 0px; /* Расстояние сверху */
      padding: 10px; /* Поля вокруг текста */
      background: #ffe; /* Цвет фона */
      border: 1px solid #333; /* Параметры рамки */
      height: 30px;
      width: 100%;
   }
   .text {
    height: 1000px;
   }
  </style>
 </head>
 <body>
  <div class="menu">Меню</div>
  <div class="text"></div>
 </body>
</html>