<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=1.0, user-scalable=0">
    <title>Комната чата</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/room_css.css' %}">
</head>

<body>
    <p></p>
    <div class="chat" id="chat"></div>
    <p id="new_mes"></p><p></p>

    <div class="header">
        <span class="mes">Пользователь <b>{{ user }}</b> в комнате <b>{{ room }}</b></span>
    </div>

    <div class="footer">
        <textarea class="text" id="message-input"></textarea>
        <button id="btn-submit" class="send_buton">
            <i class="fa fa-commenting-o" aria-hidden="true"></i>
        </button>
    </div>

    <div class="exit"><a href="{% url 'rooms' %}"><i class="fa fa-sign-out" aria-hidden="true"></i></a></div>

    {{ room|json_script:"room-name" }}
    {{ user|json_script:"user-name" }}
    {{ mes_count|json_script:"mes-count" }}


    <script src="{% static 'js/jquery-3.6.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>


    <form action="{% url 'next_page' %}" method="post" id="next_page">
        {% csrf_token %}
    </form>

</body>
</html>